.badge {
  display: inline-block;
  color: rgb(var(--color-badge-text));
}
.badge--sale {
  color: rgb(var(--color-badge-text-sale));
}
.badge--custom {
  color: rgb(var(--color-badge-text-custom));
}