.simple-card-grid-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.simple-card-grid-list__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  width: 100%;
  gap: var(--indent_value);
}
.simple-card-grid-list__wrapper--overlay {
  gap: 0;
}
.simple-card-grid-list__wrapper--1 {
  grid-template-columns: 1fr;
}
.simple-card-grid-list__wrapper--2 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .simple-card-grid-list__wrapper--2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.simple-card-grid-list__wrapper--3 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .simple-card-grid-list__wrapper--3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .simple-card-grid-list__wrapper--3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
.simple-card-grid-list__wrapper--4 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .simple-card-grid-list__wrapper--4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .simple-card-grid-list__wrapper--4 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1100px) {
  .simple-card-grid-list__wrapper--4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: calc(750px - 1px)) {
  .simple-card-grid-list__wrapper--2-mobile:not(.simple-card-grid-list__wrapper--1) {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: calc(750px - 1px)) {
  .simple-card-grid-list__wrapper.simple-card-grid-list__wrapper[class*="--1.6rem"] {
    gap: 0.8rem;
  }
}
@media screen and (max-width: calc(750px - 1px)) {
  .simple-card-grid-list__wrapper.simple-card-grid-list__wrapper[class*="--2.4rem"] {
    gap: 1.6rem;
  }
}
@media screen and (max-width: 989px) {
  .swiper--card-grid .simple-card-grid-list__wrapper {
    display: flex !important;
    grid-template-columns: none;
    gap: 0 !important;
  }
}

.simple-card-grid-card {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.simple-card-grid-list__wrapper--overlay .simple-card-grid-card {
  border-radius: 0;
  background: none !important;
}
.simple-card-grid-card.without-border-radius {
  border-radius: 0;
}
.simple-card-grid-card__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  pointer-events: none;
  flex-direction: column;
  gap: calc(2 * var(--indent_value)) var(--indent_value);
}
.simple-card-grid-card__wrapper.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.4rem;
}
@media screen and (min-width: 990px) {
  .simple-card-grid-card__wrapper.overlay {
    padding: 4.8rem;
  }
}
.simple-card-grid-card__wrapper.overlay::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: rgba(var(--color-overlay), var(--overlay-opacity));
}
.simple-card-grid-card__wrapper.overlay .simple-card-grid-card__info {
  text-align: center;
}
.simple-card-grid-card__content {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  z-index: 4;
  text-align: left;
  max-width: min(72.7rem, 100% - 1.6rem);
}
.simple .simple-card-grid-card__content {
  max-width: min(44rem, 100%);
}
.simple-card-grid-card__heading:last-child, .simple-card-grid-card__heading:only-child, .simple-card-grid-card__text:last-child, .simple-card-grid-card__text:only-child {
  margin: 0;
}
.simple-card-grid-card__subheading {
  max-width: 48rem;
  margin-bottom: auto;
}
.simple-card-grid-card__info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.simple-card-grid-card__heading {
  margin: 0;
  overflow-wrap: anywhere;
  max-width: 52rem;
}
.simple-card-grid-card__text {
  max-width: 55.7rem;
}
.simple-card-grid-card__text p {
  margin: 0;
  color: rgb(var(--color-foreground));
}
.simple-card-grid-card__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.4rem;
  pointer-events: all;
  z-index: 4;
}
.simple-card-grid-card__image {
  position: relative;
  width: 100%;
  z-index: 1;
}
.simple-card-grid-card__image::after {
  content: "";
  display: block;
  width: 0;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}
.simple-card-grid-list__wrapper--overlay .simple-card-grid-card__image {
  min-height: 100%;
}
.simple-card-grid-card__image.placeholder {
  background-color: rgba(var(--color-background));
}
.simple-card-grid-card__image > svg,
.simple-card-grid-card__image > img,
.simple-card-grid-card__image > video {
  width: 100%;
  height: 100%;
  max-width: calc(100% + 2px);
  max-height: calc(100% + 2px);
  object-fit: cover;
  object-position: center;
  position: absolute;
  border-radius: var(--border-radius-main);
}
.simple-card-grid-card__link-overlay {
  display: block !important;
  position: absolute;
  inset: 0;
  z-index: 3;
}