.product-markers {
  overflow: hidden;
}
.product-markers.product-markers--column {
  background-color: rgb(var(--color-background-secondary));
}
.product-markers__header .main_content {
  max-width: 52rem;
}
.product-markers .section-header__wrapper {
  flex-direction: column;
}
@media screen and (min-width: .product-markers .section-header__wrapper lg) {
  .product-markers .section-header__wrapper {
    flex-direction: row;
  }
}
.product-markers__content {
  border-radius: var(--border-radius-main);
}
.product-markers__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding: 4rem 2rem;
  background-color: rgba(var(--color-background-secondary));
}
@media screen and (min-width: 576px) {
  .product-markers__left {
    padding: 4rem 3.2rem;
  }
}
@media screen and (min-width: 1100px) {
  .product-markers__left {
    padding: 6.4rem 4rem;
  }
}
.product-markers__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 59.4rem;
}
.product-markers__text * {
  text-align: center;
}
.product-markers__subtitle {
  margin-bottom: 0.8rem;
}
.product-markers__subtitle:last-child {
  margin-bottom: 0;
}
.product-markers__title {
  margin-top: 0;
  margin-bottom: 0;
}
.product-markers__title + .description {
  margin-top: 0.4rem;
}
.product-markers__title:last-child {
  margin-bottom: 2.4rem;
}
.product-markers__title:not(:last-child) {
  margin-bottom: 1.6rem;
}
.product-markers__description {
  margin: 0;
}
.product-markers__slider {
  width: 100%;
}
.product-markers__slider .swiper-wrapper {
  max-width: 45.5rem;
}
.product-markers__slider:not(.swiper-initialized) {
  display: flex;
  justify-content: center;
}
.product-markers__slider:not(.swiper-initialized) .swiper-wrapper {
  overflow: hidden;
}
.product-markers__card.collection-product-card {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}
.product-markers__bottom {
  display: flex;
  gap: 1.6rem;
  max-width: 45.5rem;
  width: 100%;
}
.product-markers__button-wrapper {
  display: none;
}
@media screen and (min-width: 576px) {
  .product-markers__button-wrapper {
    display: block;
  }
}
.product-markers__placeholder {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.product-markers__placeholder-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-markers__placeholder-svg path:first-child {
  fill: #e7e7e7;
}
.product-markers .card .placeholder-svg path:first-child {
  fill: #e7e7e7;
}
.product-markers__image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.product-markers__markers {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: var(--padding-bottom);
  z-index: 4;
}
.product-markers__markers[class*=product-markers__markers--32] {
  padding-bottom: 66.67% !important;
}
.product-markers__markers[class*=product-markers__markers--11] {
  padding-bottom: 100% !important;
}
.product-markers__markers[class*=product-markers__markers--34] {
  padding-bottom: 133% !important;
}
.product-markers__markers img,
.product-markers__markers video {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.product-markers__markers--adapt {
  padding-bottom: 0 !important;
}
.product-markers__markers--adapt img,
.product-markers__markers--adapt video,
.product-markers__markers--adapt svg {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
}
.product-markers__item {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 3.5rem;
  min-height: 3.5rem;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.product-markers.active .product-markers__item {
  transform: scale(1.2);
}
.product-markers__item.focus-inset:focus > .product-markers__item-number.focus-inset, .product-markers__item.focus-inset:focus-within > .product-markers__item-number.focus-inset, .product-markers__item.focus-inset:focus-visible > .product-markers__item-number.focus-inset {
  outline-offset: -0.2rem;
  outline: 0.1rem solid rgba(var(--color-foreground), 0.5);
  box-shadow: 0 0 0.2rem rgba(var(--color-foreground), 0.3);
}
@media screen and (min-width: 750px) {
  .product-markers__item {
    min-width: 4.4rem;
    min-height: 4.4rem;
  }
}
.product-markers__item-number {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transform-origin: center center;
  transition: transform var(--duration-default);
}
.product-markers__item-number:hover, .product-markers__item.active .product-markers__item-number {
  transform: scale(1.2);
}
.product-markers__item-inner dd {
  margin-inline-start: 0;
  margin-left: 0;
}
.product-markers--row .product-markers__markers--small, .product-markers--column .product-markers__markers--small {
  min-height: 32rem;
}
.product-markers--row .product-markers__markers--medium, .product-markers--column .product-markers__markers--medium {
  min-height: 50rem;
}
.product-markers--row .product-markers__markers--large, .product-markers--column .product-markers__markers--large {
  min-height: 72rem;
}
.product-markers--row .product-markers__item, .product-markers--column .product-markers__item {
  top: var(--top);
  left: var(--left);
}
@media screen and (min-width: 750px) {
  .product-markers--row .product-markers__item, .product-markers--column .product-markers__item {
    top: var(--top);
    left: var(--left);
  }
}
.product-markers--row .product-markers__item.active .product-markers__item-inner, .product-markers--column .product-markers__item.active .product-markers__item-inner {
  opacity: 1;
  pointer-events: all;
  background: rgb(var(--color-background));
  border-radius: var(--border-radius-main);
}
@media screen and (min-width: 990px) {
  .product-markers--row .product-markers__item-inner:not(.product-markers__item-inner__upper), .product-markers--column .product-markers__item-inner:not(.product-markers__item-inner__upper) {
    display: block;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--duration-default) ease;
    width: 100vw;
    max-width: min(50rem, 100vw);
    top: 100%;
    left: 0;
    z-index: 3;
    transform: translate(-50%, 0);
  }
  .product-markers--row .product-markers__item-inner:not(.product-markers__item-inner__upper).no-button, .product-markers--column .product-markers__item-inner:not(.product-markers__item-inner__upper).no-button {
    max-width: min(29.6rem, 100vw);
  }
  .product-markers--row .product-markers__item-inner--to-top:not(.product-markers__item-inner__upper), .product-markers--column .product-markers__item-inner--to-top:not(.product-markers__item-inner__upper) {
    left: 50%;
    top: auto;
    bottom: calc(100% + 2.4rem);
    transform: translate(calc(-50% - 11px), 0);
    transform-origin: bottom center;
  }
  .product-markers--row .product-markers__item-inner--to-right:not(.product-markers__item-inner__upper), .product-markers--column .product-markers__item-inner--to-right:not(.product-markers__item-inner__upper) {
    left: calc(100% + 2.4rem);
    top: 50%;
    transform: translate(0, -50%);
    transform-origin: center left;
  }
  .product-markers--row .product-markers__item-inner--to-bottom:not(.product-markers__item-inner__upper), .product-markers--column .product-markers__item-inner--to-bottom:not(.product-markers__item-inner__upper) {
    left: 50%;
    top: calc(100% + 2.4rem);
    transform: translate(calc(-50% - 11px), 0);
    transform-origin: top center;
  }
  .product-markers--row .product-markers__item-inner--to-left:not(.product-markers__item-inner__upper), .product-markers--column .product-markers__item-inner--to-left:not(.product-markers__item-inner__upper) {
    left: auto;
    right: calc(100% + 2.4rem);
    top: 50%;
    transform: translate(0, -50%);
    transform-origin: center right;
  }
}
.product-markers--row .product-markers__content {
  position: relative;
}
.product-markers--row .product-markers__item-inner {
  display: none !important;
  opacity: 0;
  border-radius: var(--border-radius-main);
  visibility: hidden;
  opacity: 0.6s ease, visibility 0.6s ease, display 0.6 ease;
}
.product-markers--row .product-markers__item-inner.measurable {
  display: flex !important;
}
.product-markers--row .product-markers__item-inner.active {
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width: 990px) {
  .product-markers--row .product-markers__item-inner {
    position: absolute;
    left: 4.8rem;
    bottom: 7.2rem;
    z-index: 5;
  }
}
.product-markers--row .product-markers__item-inner__upper {
  display: block !important;
  width: 100%;
}
@media screen and (min-width: 990px) {
  .product-markers--row .product-markers__item-inner__upper {
    max-width: min(50rem, 100vw);
  }
  .product-markers--row .product-markers__item-inner__upper.no-button {
    max-width: min(29.6rem, 100vw);
  }
}
@media screen and (max-width: 989px) {
  .product-markers--row .product-markers__item-inner__upper {
    display: none !important;
  }
  .product-markers--row .product-markers__item-inner__upper.active {
    display: flex !important;
  }
}
.product-markers--row .section-header__wrapper {
  align-items: flex-start;
}
.product-markers--column .product-markers__header {
  padding-left: 2rem;
  padding-right: 2rem;
}
.product-markers--column .product-markers__header .section-header__wrapper {
  align-items: flex-start;
}
.product-markers--column .product-markers__content {
  position: relative;
}
@media screen and (min-width: 990px) {
  .product-markers--column .product-markers__content {
    position: static;
  }
}
.product-markers--column .product-markers__item-inner {
  display: none !important;
}
@media screen and (min-width: 990px) {
  .product-markers--column .product-markers__item-inner {
    display: block !important;
  }
}
.product-markers--column .product-markers__item-inner__upper {
  display: block !important;
  opacity: 0;
  visibility: hidden;
  opacity: 0.6s ease, visibility 0.6s ease;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  max-width: 100%;
  box-sizing: border-box;
}
.product-markers--column .product-markers__item-inner__upper.active {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 989px) {
  .product-markers--column .product-markers__item-inner__upper {
    display: none !important;
  }
  .product-markers--column .product-markers__item-inner__upper.active {
    display: block !important;
  }
}
@media screen and (min-width: 990px) {
  .product-markers--column .product-markers__item-inner__upper {
    display: none !important;
  }
}
@media screen and (min-width: 990px) {
  .product-markers--column {
    display: flex;
  }
  .product-markers--column .section-header {
    margin-bottom: 0;
    flex: 1;
  }
  .product-markers--column .section-header__wrapper {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }
  .product-markers--column .section-header__wrapper .button {
    margin-top: auto;
  }
  .product-markers--column .product-markers__header {
    width: 35vw;
  }
  .product-markers--column .product-markers__header {
    display: flex;
    flex-direction: column;
  }
  .product-markers--column .product-markers__header > * {
    max-width: 59rem;
  }
  .product-markers--column .product-markers__content {
    width: 65vw;
  }
}
.product-markers--column .product-markers__header {
  padding: 2.4rem 2rem 0;
}
@media screen and (min-width: 990px) {
  .product-markers--column .product-markers__header {
    padding: 4.8rem 1.6rem 4.8rem 2.4rem;
  }
}
@media screen and (min-width: 1100px) {
  .product-markers--column .product-markers__header {
    padding: 7.2rem 2.4rem 7.2rem 4.8rem;
  }
}